@media screen and (min-width: 1200px) {
	.container {
		max-width: 1158px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.site-nav {
		margin-left: 76px;
	}
	.contact {
		flex-direction: row;
		gap: 40px;
	}
}
