:root {
	--primary-brand: #4d5ae5;
	--pressed-state: #404bbf;
	--dark: #2e2f42;
	--success: #31d0aa;
	--text: #434455;
	--subtle-text: #8e8f99;
	--accent: #e7e9fc;
	--light: #f4f4fd;
	--background-color-primary: #ffffff;
	--modal-bcg-color: #fcfcfc;
	--header-padding: 24px 0;
	--horizontal-gap: 24px;
}
body {
	max-width: 1440px;
	color: var(--text);
	background-color: var(--background-color-primary);
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}
ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
.list {
	list-style: none;
}
.link {
	text-decoration: none;
}
.section {
	padding-top: 96px;
	padding-bottom: 96px;
}
.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 72px;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.btn {
	display: block;
	font-family: inherit;
	min-width: 169px;
	min-height: 56px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 500;
	letter-spacing: 0.04em;
	text-align: center;
	color: var(--background-color-primary);
	background-color: var(--primary-brand);
	border-radius: 4px;
	border-color: transparent;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	cursor: pointer;
}
.container {
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
}

/* ---------------------Header--------------------- */
.header {
	display: flex;
}
.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--dark);
}
.accent-logo {
	color: var(--primary-brand);
}
.header {
	min-height: 70px;
	border-bottom: 1px solid var(--accent);
}
@media screen and (max-width: 767px) {
	.site-nav {
		display: none;
	}
	.address {
		display: none;
	}
}
.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.mobile-menu-open {
	background-color: transparent;
	border: none;
	padding: 0;
	line-height: 0;
}
/* ---------------------Mobile menu--------------------- */
.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	opacity: 0;
	pointer-events: none;
	background-color: var(--background-color-primary);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-container {
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: relative;
	padding: 80px 40px 40px 40px;
}
.btn-close-menu {
	position: absolute;
	top: 24px;
	right: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	width: 24px;
	height: 24px;
	fill: var(--dark);
	background-color: rgba(231, 233, 252, 0.1);
	border: 1px solid rgba(46, 47, 66, 0.1);
	border-radius: 50%;
}
.site-nav-mobile {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.link-nav-mobile {
	font-weight: 700;
	font-size: 32px;
	line-height: 1.11;
	color: var(--dark);
}
.site-nav-mobile .current-mobile {
	color: var(--pressed-state);
}
.contact-mobile {
	display: flex;
	flex-direction: column;
	margin-bottom: 48px;
	gap: 40px;
}
.contact-link-tel {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	color: var(--primary-brand);
}
.contact-link-mail {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: var(--text);
}
.social-list {
	display: flex;
	justify-content: space-between;
}
.social-link {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-brand);
	border-radius: 50%;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
	background-color: var(--pressed-state);
}
.mobile-menu.is-open {
	opacity: 1;
	pointer-events: all;
}
/* ---------------------Hero section--------------------- */
.hero {
	text-align: center;
	padding-top: 112px;
	padding-bottom: 112px;
	background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
		url(../images/dark-bg-mobile.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
	.hero {
		background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url(../images/dark-bg-mobile@2x.jpg);
	}
}
.hero-title {
	max-width: 320px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	color: var(--background-color-primary);
	margin-bottom: 72px;
	margin-left: auto;
	margin-right: auto;
}
/* ---------------------Advantages section--------------------- */
.advantages-title {
	text-align: center;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	color: var(--dark);
	margin-bottom: 8px;
}

/* ---------------------Team section--------------------- */
.team {
	background-color: var(--light);
}
.team-list {
	text-align: center;
}
.team-item {
	max-width: 264px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 72px;
	background-color: var(--background-color-primary);
	text-align: center;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}

.team-title {
	color: var(--dark);
}
.team-player {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: var(--dark);
	padding-top: 32px;
	margin-bottom: 8px;
}
.team-item .social-list {
	margin-top: 8px;
	padding: 32px 16px;
	padding-top: 0;
}
/* ---------------------Customers section--------------------- */
.customers-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
    column-gap: 16px;
}
.customers-item {
	min-width: 190px;
	min-height: 88px;
}
.customers-tumb {
	width: 100%;
	height: 100%;
	color: var(--subtle-text);
	border: 1px solid var(--subtle-text);
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-tumb:focus,
.customers-tumb:hover {
	color: var(--pressed-state);
	border-color: var(--pressed-state);
}
.customers-icon {
	fill: currentColor;
}
/* ---------------------Footer--------------------- */
.footer {
	background-color: var(--dark);
	padding-top: 96px;
	padding-bottom: 96px;
}
.footer-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--light);
	display: block;
	margin-bottom: 17px;
}
.footer-text {
	margin-left: auto;
	margin-right: auto;
	color: var(--accent);
	max-width: 268px;
}
.footer-title {
	margin-bottom: 16px;
	font-size: 16px;
	font-weight: 500;
	color: var(--background-color-primary);
}
.footer-icon-list {
	display: flex;
	justify-content: center;
	gap: 16px;
}

.footer-social-link:hover,
.footer-social-link:focus {
	background-color: var(--success);
}
.subscribe {
	margin-top: 72px;
}
.subscription-input {
	width: 100%;
	min-height: 40px;
	margin-bottom: 16px;
	padding-left: 16px;
	color: #ffffff;
	background-color: var(--dark);
	border: 1px solid #ffffff;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	outline: none;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-input::placeholder {
	font-weight: 400;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;
	color: #ffffff;
}
.subscription-input:focus,
.subscription-input:hover {
	opacity: 1;
}
.subscribe-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 165px;
	min-height: 40px;
	padding: 0;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
	background-color: var(--pressed-state);
	border-color: transparent;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.icon-frame {
	margin-left: 16px;
}

@media screen and (max-width: 767px) {
	.advantages-list {
		flex-direction: column;
		gap: 72px;
	}
	.footer-title {
		margin-top: 72px;
		text-align: center;
	}
	.footer-logo {
		text-align: center;
	}
}

/* ---------------------Modal------------------- */
.backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(46, 47, 66, 0.4);
	opacity: 1;
	transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0);
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

	width: 100%;
	height: auto;
	padding: 72px 24px 24px 24px;
	background-color: var(--modal-bcg-color);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}
.modal-btn {
	position: absolute;
	top: 24px;
	right: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	width: 24px;
	height: 24px;
	fill: var(--dark);
	background-color: var(--accent);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	cursor: pointer;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
	fill: var(--background-color-primary);
	background-color: var(--pressed-state);
}
.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 16px;
	text-align: center;
}
.form-label {
	display: block;
	margin-bottom: 4px;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--subtle-text);
}
.form-label:nth-child(1) {
	letter-spacing: 0.04em;
}
.form-group {
	position: relative;

	margin-bottom: 8px;
}
.form-input {
	width: 100%;
	height: 40px;
	border: 1px solid var(--dark);
	border-radius: 4px;
	padding: 11px 38px;
	outline: transparent;
	opacity: 0.2;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
	border-color: var(--primary-brand);
	opacity: 1;
}
.form-input:focus + .form-icon {
	fill: var(--primary-brand);
}
.form-icon {
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translateY(-50%);
	fill: var(--dark);
	transition: fiil 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea {
	display: block;
	width: 100%;
	min-height: 120px;
	border: 1px solid var(--dark);
	border-radius: 4px;
	padding: 11px 16px;
	outline: transparent;
	resize: none;
	opacity: 0.2;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus {
	border-color: var(--primary-brand);
	opacity: 1;
}
.form-textarea::placeholder {
	font-size: 12px;
	line-height: 1.17;
	color: rgba(46, 47, 66, 0.4);
}
.checkbox {
	margin-top: 16px;
	margin-bottom: 24px;
}
.polisy-label {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: var(--subtle-text);
	display: flex;
	align-items: center;
}

.polisy-label span {
	width: 16px;
	height: 16px;
	margin-right: 8px;
	border: 1px solid var(--dark);
	border-radius: 2px;
	display: flex;
	align-items: center;

	box-sizing: border-box;
	fill: transparent;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox:checked + .polisy-label span {
	fill: var(--light);
	background-color: var(--pressed-state);
}

.polisy-label a {
	padding-left: 4px;
}
.form-btn {
	display: block;
	min-width: 169px;
	min-height: 56px;
	margin: auto;
}
@media screen and (min-width: 480px) {
	.container {
		max-width: 428px;
		margin-left: auto;
		margin-right: auto;
	}
	.modal {
		width: 392px;
		height: auto;
	}
}
